.nav-img {
	max-width: 80%
}
.container-fluid.main-header {
	background-image: url(../../assets/img/img-header.svg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -12em
}
@media (min-width: 2001px) {
	.container-fluid.main-header {
		background-position: 1200px 55%
	}
}
@media (min-width: 1201px) and (max-width: 2000px) {
	.container-fluid.main-header {
		background-position: 660px 55%
	}
}
@media (min-width: 993px) and (max-width: 1200px) {
	.container-fluid.main-header {
		background-position: 601px 55%
	}
}
@media (min-width: 786px) and (max-width: 992px) {
	.container-fluid.main-header {
		background-position: 500px 55%
	}
}
.card {
	background-color: #313139!important
}
@media (min-width: 576px) and (max-width: 785px) {
	.container-fluid.main-header {
		background-position: 400px 55%
	}
}
@media (min-width: 300px) and (max-width: 575px) {
	.container-fluid.main-header {
		background-position: 92px 55%
	}
}
.row.content-header {
	padding-top: 13em;
	padding-bottom: 5em
}
.h6,
h6 {
	padding-bottom: 1em
}
.uraian-pos {
	font-size: .75em
}
@media (max-width: 400px) {
	.uraian-pos {
		display: none
	}
}
judul-pos {
	font-size: 1em
}