* {
	box-sizing: border-box;
  }
  
  body,html {
	font-family: 'Source Sans Pro';
  }
  
  .overlay {
	position: fixed;
	background: rgba(51, 55, 69, 0.95);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: opacity .35s,visibility .35s,height .35s;
	overflow: hidden;
	z-index: 999;
  }
  
  .overlay.open {
	opacity: 1;
	visibility: visible;
	height: 100%;
  }
  
  .overlay.open li {
	animation: fadeInRight .5s ease forwards;
	animation-delay: .35s;
  }
  
  .overlay.open li:nth-of-type(2) {
	animation-delay: .4s;
  }
  
  .overlay.open li:nth-of-type(3) {
	animation-delay: .45s;
  }
  
  .overlay.open li:nth-of-type(4) {
	animation-delay: .5s;
  }
  
  .overlay .nav-title {
	font-size: 22px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 8%;
  }
  
  .overlay nav {
	position: relative;
	height: 50%;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.8em;
	text-align: center;
  }
  
  .overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	position: relative;
	height: 100%;
  }
  
  .overlay ul li {
	display: block;
	position: relative;
	opacity: 0;
	margin-bottom: 30px;
  }
  
  .overlay ul li a {
	display: block;
	position: relative;
	color: #fff;
	text-decoration: none;
	overflow: hidden;
  }
  
  .overlay ul li a:active,.overlay ul li a:focus,.overlay ul li a:hover {
	color: #eee;
  }
  
  .overlay ul li a:active:after,.overlay ul li a:focus:after,.overlay ul li a:hover:after {
	width: 100%;
	background: #fff;
  }
  
  .close-menu,.open-menu {
	cursor: pointer;
	transition: transform .3s;
  }
  
  .close-menu:hover,.open-menu:hover {
	transform: scale(1.1);
  }
  
  .overlay ul li a:after {
	content: '';
	position: absolute;
	top: 95%;
	left: 43.5%;
	width: 0%;
	transform: translateX(-50%);
	height: 3px;
	background: #fff;
	transition: .35s;
  }
  
  @keyframes fadeInRight {
	0% {
	  opacity: 0;
	  left: 20%;
	}
  
	100% {
	  opacity: 1;
	  left: 0;
	}
  }
 
  a:hover {
	color: #fff;
	text-decoration: none;
  }
  
  @media (max-width:576px) {
	.container-fluid.container-menu {
	  padding-left: 5px!important;
	  padding-right: 5px!important;
	}
  }
  
  @media (max-width:576px) {
	.list-menu {
	  padding-left: 5px;
	  padding-right: 5px;
	}
  }
  
  @media (max-width:576px) {
	.nav__link {
	  padding-left: 0!important;
	  padding-right: 0PX!important;
	  margin-left: 5px;
	  margin-right: 5px;
	  font-size: 1em!important;
	}
  }